/* Actualizado */
.container {
  padding: 2rem 2.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #111827;
}
