.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 12px;
  background-color: var(--muted);
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-lg);
  width: 70%;
  height: 100%;
  background-color: white;
}
.emptyStateContainer {
  margin: auto;
  height: 100%;
}

.errorContainer {
  border-radius: var(--radius-md);
  width: fit-content;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.139);
}

.errorText {
  font-size: 0.875rem;
}

.loadingIndicator {
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}
